:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #e0e0e0;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --popup-background: #ffffff;
  --event-background: #f0f0f0;
  --event-border: #e0e0e0;
  --close-button-color: #333333;
  --time-color: #666666;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2a2a2a;
    --text-color: #ffffff;
    --border-color: #555555;
    --overlay-background: rgba(0, 0, 0, 0.8);
    --popup-background: #333333;
    --event-background: #444444;
    --event-border: #666666;
    --close-button-color: #ffffff;
    --time-color: #bbbbbb;
  }
} */

.player-event-log {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 5px;
  position: absolute;
  color: var(--text-color);
}

.player-event-log h2 {
  margin-bottom: 10px;
}

.player-event-log ul {
  list-style-type: none;
  padding: 0;
}

.player-event-log li {
  margin-bottom: 5px;
}

.player-event-log-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.player-event-log-popup {
  background-color: var(--popup-background);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  color: var(--text-color);
}

#close-button {
  position: absolute;
  width: fit-content;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--close-button-color);
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-image {
  width: 80px;
  height: 80px;
  object-fit:cover;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  background-color: white;
}

.match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  color: var(--text-color);
}

.event-list {
  max-height: 50vh;
  overflow-y: auto;
}

.event-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--event-border);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--popup-background);
}

.event-points {
  font-weight: bold;
  min-width: 30px;
  text-align: right;
  margin-right: 10px;
}

.event-description {
  flex-grow: 1;
  color: var(--text-color);
}

.event-time {
  font-size: 12px;
  color: var(--time-color);
  min-width: 30px;
  text-align: right;
}
